<% content_for :title, "New Family" %>

<div class="row">
  <div class="columns">
    <h1>Step Two</h1>
    <h2>Family Information</h2>
    <p>Please enter the information below for your immediate family, currently living with you, that plan on attending the trip. If you don't have a spouse or they don't plan on attending, just leave their name blank. All information on this form should be relevant for September of this year.</p>
  </div>
  <%= render 'form' %>
</div>
