<footer class="site-footer">
  <hr/>
  <section class="row">
    <div class="medium-7 columns">
      <ul class="inline-list">
        <li>&copy; <%= Time.now.year %> Wavetronix LLC.</li>
      </ul>
    </div>
    <div class="medium-5 columns end hide-for-small">
      <ul class="inline-list right">
        <% if current_user %>
          <li>
            <%= link_to edit_identity_path(current_user.uid), title: "Edit #{current_user.name}" do %>
            <%= current_user.name %>
          <% end %>
          </li>
          <li><%= link_to content_tag(:span, nil, class: "fa fa-sign-out"), sign_out_path, title: "Sign out" %></li>
        <% end %>
      </ul>
    </div>
  </section>
</footer>
